# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Bot config
/config

# Mac os
.DS_Store

# Idea
.idea
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings

# Vim
*~
